<header class="header">
  <button type="button" class="mobile-menu" (click)="toggleMobileSidebar()">☰</button>
  <div class="title-group">
    <div class="page-copy" *ngIf="pageTitle !== 'not-found'">
      <h2>{{ pageTitle }}</h2>

      <p class="breadcrumb" *ngIf="!isMobile">
        <ng-container *ngFor="let item of breadcrumb; let i = index">
          <span>{{ item }}</span>
          <span *ngIf="i < breadcrumb.length - 1"> &gt; </span>
        </ng-container>
      </p>
    </div>
  </div>
  <div class="header-actions" *ngIf="!isHorizontal">
    <div class="icon-btn">
      <img src="/icons/search.png" class="icon" />
    </div>

    <div class="icon-btn">
      <img src="/icons/notification.png" class="icon" />
      <span class="badge">{{ notification }}</span>
    </div>

    <div class="profile">
      <img src="/icons/avatar.png" />
      <div class="profile-copy">
        <strong>{{ user }}</strong>
      </div>
    </div>
  </div>
</header>
