<div class="table-card">
  <div class="table-header">
    <h3>Recent Bookings</h3>
    <button class="view-btn">View All Bookings</button>
  </div>

  <ngx-datatable
    class="custom-table"
    [rows]="data"
    [columnMode]="'force'"
    [scrollbarH]="true"
    [headerHeight]="50"
    [rowHeight]="70"
    [footerHeight]="60"
  >

    <!-- BOOKING ID -->
    <ngx-datatable-column name="Booking ID" prop="id" [width]="140"></ngx-datatable-column>

    <!-- PROPERTY -->
    <ngx-datatable-column name="Property" [width]="260">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="property">
          <img [src]="row.property.image" />
          <div>
            <strong>{{ row.property.name }}</strong>
            <span>{{ row.property.location }}</span>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- CLIENT -->
    <ngx-datatable-column name="Client" [width]="200">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="client">
          <span>{{ row.client.name }}</span>
          <small>{{ row.client.phone }}</small>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- DATE -->
    <ngx-datatable-column name="Date & Time" [width]="180">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="date">
          <span>{{ row.date }}</span>
          <small>{{ row.time }}</small>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- USER -->
    <ngx-datatable-column name="User" [width]="180">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="user">
          <img [src]="row.user.avatar" />
          <span>{{ row.user.name }}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- STATUS -->
    <ngx-datatable-column name="Status" [width]="140">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="center-cell">
          <span class="status" [ngClass]="row.status.toLowerCase()">
            {{ row.status }}
          </span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- AMOUNT -->
    <ngx-datatable-column name="Amount" [width]="120">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="amount">${{ row.amount }}</div>
      </ng-template>
    </ngx-datatable-column>

    <!-- ACTIONS -->
    <ngx-datatable-column name="Actions" [width]="120">
      <ng-template ngx-datatable-cell-template>
        <div class="actions">
          <button class="icon-btn">👁</button>
          <button class="icon-btn">⋮</button>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>